/* CSS declarations go here */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 1000px;
  background: white;
  margin-bottom: 15px;
  margin-top: 30px;
  padding: 20px 15px 15px 15px;
  flex-grow: 1;
  flex: 1;
  color:inherit;
}

.container .card1{
  width: 50%;
  max-width: 300px;
  min-height: 100%;
  float: left;
  padding: 20px 15px 15px 15px;
  margin-bottom: 30px;
}
.container .card2{
  width: 50%;
  max-width: 300px;
  min-height: 100%;
  float: right;
  padding: 20px 15px 15px 15px;
  margin-bottom: 30px;
}
.container .card3{
  width: 50%;
  max-width: 300px;
  min-height: 100%;
  float: left;
  padding: 20px 15px 15px 15px;
  margin-bottom: 30px;
}
.container .card4{
  width: 50%;
  max-width: 300px;
  min-height: 100%;
  float: right;
  padding: 20px 15px 15px 15px;
  margin-bottom: 30px;

}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 30px;
  margin-bottom: -10px;
  position: relative;
  margin: theme.spacing(1);
  width: 25ch;
}

.new-task TextField {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

header .edit-mode {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 20px 20px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    font-size: 16px;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #FFFF;
}
